* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

h1 {
  color: navy;
}



h2 {
  font-family: Arial;
}

form {
  background-color: white;
  padding: 20px;          /* Espacio interno */
  border: 2px solid navy; /* El borde */
  border-radius: 8px;     /* Bordes redondeados */
  margin-top: 20px;       /* Separarlo de la lista de arriba */
  width: 300px;           /* Ancho fijo */

  /* Mantén lo anterior y agrega esto: */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: none; /* Podemos quitar el borde navy si ya tenemos sombra */
}


input {
  display: block;        /* Para que ocupen su propia línea */
  width: 100%;           /* Todo el ancho del formulario */
  margin-bottom: 15px;   /* Separación entre inputs */
  padding: 8px;
}

button {
  color: white;
  display: block;
  margin: auto;

  background: linear-gradient(135deg, #28a745, #5cd65c);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer; /* Cambia el ratón a una mano */
  transition: 0.3s; /* Para que el cambio sea suave */
}

button:hover {
  will-change: transform;
  transform: scale(1.05); /* Se agranda un poquito */
  filter: brightness(1.1); /* Brilla más */
}